body{
margin:0;
font-family:Arial;
background:linear-gradient(#f4e7a1,#e3b44b);
}

.auth-page,.loading-page{
display:none;
height:100vh;
justify-content:center;
align-items:center;
}

.active{display:flex;}

.auth-container{
display:flex;
gap:50px;
align-items:center;
}

.auth-image img{
width:350px;
}

.auth-card{
background:rgba(255,255,255,0.5);
padding:30px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
display:flex;
flex-direction:column;
gap:10px;
}

input{
padding:8px;
border-radius:6px;
border:1px solid #ccc;
}

.btn{
padding:8px;
border:none;
border-radius:6px;
cursor:pointer;
color:white;
}

.blue{background:#1f2f7a;}
.green{background:#2e7d32;}

.loading-page{
flex-direction:column;
}

.loader{
width:60px;
height:60px;
border:6px solid #fff;
border-top:6px solid transparent;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
to{transform:rotate(360deg);}
}

/* APP */

.app-page{display:none;}

.topbar{
display:flex;
justify-content:space-between;
padding:10px 20px;
}

.menu-btn{
font-size:22px;
background:none;
border:none;
cursor:pointer;
z-index:2000;
}

.sidebar{
position:fixed;
top:0;
left:-250px;
width:250px;
height:100%;
background:#e3b44b;
padding:20px;
transition:0.3s;
z-index:1000;
}

.sidebar.active{left:0;}

.sidebar button{
display:block;
margin:10px 0;
width:100%;
padding:8px;
border:none;
cursor:pointer;
}

.main-content{
margin-left:20px;
padding:20px;
}

.page{display:none;}
.page.active{display:block;}

.card{
background:rgba(255,255,255,0.6);
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.produto-grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:15px;
}

.produto-card{
background:white;
padding:10px;
border-radius:10px;
box-shadow:0 3px 6px rgba(0,0,0,0.2);
}