body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f7e8a0, #e6b44d);
    display: flex;
}

.sidebar {
    width: 200px;
    background: #e3c060;
    padding: 20px;
    height: 100vh;
}

.sidebar button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background: #f0d67d;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 40px;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.card {
    background: #f6e7a8;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.center {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.btn-green {
    background: #2faa2f;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-blue {
    background: #1f2f7a;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.produto {
    background: #fff3c4;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
}
.codigo {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.codigo input {
    width: 40px;
    text-align: center;
    font-size: 18px;
}